body {
  font: 14px, Helvetica, "Lucida Grande", Arial, sans-serif;
  background-color: #565050;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

header {
  background-color: #565050;
  height: 5%;
}

footer{
  color: #000000;
  font-size: smaller;
}

html, body, #app {
  height: 100%;
}

#map-canvas {
  height: 90%;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
}
