body {
  font: 14px, Helvetica, "Lucida Grande", Arial, sans-serif;
  background-color: #565050;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

header {
  background-color: #565050;
  height: 5%;
}

footer{
  color: #000000;
  font-size: smaller;
}

html, body, #app {
  height: 100%;
}

#map-canvas {
  height: 90%;
  border-radius: 5px;
}
