body.pinndit {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 36px;
  background-color: #565050;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

header {
  background-color: #565050;
  max-height: 20%;
}

footer {
  color: #ffffff;
  max-height: 10%;
  font-size: 12px;
  text-align: center;
  margin: 20px;
}

html {
  height: 100%;
}

ul.comments-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  max-height: 175px;
  overflow-y: scroll;
}

button {
  font-family: inherit;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #d82010;
  background-color: #E84C3D;
  color: #ffffff;
  box-sizing: border-box;
}

form {
  height: inherit;
}

input {
  display: table-cell;
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 7px;
  border: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #d82010;
  vertical-align: middle;
  box-sizing: border-box;
}

textarea {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #d82010;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  vertical-align: middle;
}

textarea:focus, input:focus {
  outline: 0;
  border-color: #E84C3D;
}

label {
  display: block;
  margin-top: auto;
  color: #aaaaaa;
  font-size: 22px;
  padding-bottom: 10px;
}

p {
  font-size: 22px;
  margin: 15px;
}

#content {
  height: 70%;
}

#app {
  height: 100%;
}

#map-canvas {
  height: 100%;
  border-radius: 5px;
}

.window-overlay {
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
}

.event-window {
  background-color: #ffffff;
  border-radius: 5px;
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  min-height: 333px;
  max-height: 60%;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px grey;
  z-index: 5;
}

.event-window-heading {
  background-color: #E84C3D;
  padding: 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  color: #ffffff;
}

.event-window-body {
  background-color: #ffffff;
  padding: 15px;
}

.event-comment {
  font-size: 18px;
  list-style-type: none;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #bbbbbb;
  padding-top: 5px;
  padding-bottom: 10px;
}

.comments-section-head {
  margin-top: auto;
  color: #aaaaaa;
  font-size: 22px;
  padding-bottom: 10px;
  /*border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #E84C3D;*/
}

.section-head {
  margin-top: auto;
  color: #E84C3D;
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #E84C3D;
}

.comments-heading {
  /*padding-left: 15px;
  padding-right: 15px;*/
}

.comment-post {
  box-sizing: border-box;
  width: 100%;
}

.input-comment {
  width: 85%;
}

.button-comment-post {
  float: right;
  display: table-cell;
}

.pinn-control {
  width: 50px;
  margin: 15px;
  border-style: solid;
  border-radius: 10px;
  border-color: #E84C3D;
  background-color: rgba(255, 255, 255, 0.5);
}

.panel {
}

.panel-heading {
  background-color: #E84C3D;
}
